<% @cocktails.each do |cocktail| %>
  <h2><%= cocktail.name %></h2>
  <%= link_to "View", cocktail_path(cocktail.id), {class: "btn btn-primary"} %>
<% end %>

  <%= link_to "New", new_cocktail_path, {class: "btn btn-primary"} %>
